
.header {
 background-image: url("../images/header_bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 padding: 1800px;
}

.Relaxr {
  color: white;
  font-family: 'Open Sans';
}

.h1 {
  margin-top: -1650px;
  margin-left: -1400px;
  font-weight: 800;
  font-size: 240px;
}

.h2 {
  margin-top: 250px;
  margin-left: 300px;
  font-size: 220px;
  font-weight: 600;

}

.getitnow {
  background-color: #f9e42e;
  height: 250px;
  width: 1100px;
  border-radius: 25px;
  color: black;
  font-size: 130px;
  margin-top: 360px;
  margin-left: 270px;
  font-weight: 800;

}

.benefits {
  background-color: #f2f6f5;
  background-size: cover;
  padding-top: 10px;
  padding-left: 1500px;
  padding-bottom: 500px;
  font-family: 'Open Sans';
}

.benefits h3 {
  font-weight: 600;
  font-size: 200px;
  color: #033048;
  margin-top: 400px;
  margin-left: -1000px;
}

.benefits p {
 font-weight: 300;
 font-size: 110px;
 color: #606161;
 margin-top: 140px;
 margin-left: -1000px;
 width: 80%;
}

li {
  list-style-type: disc!important;
  font-weight: 300;
  font-size: 110px;
  color: #606161;
  padding-top: 200px;
  margin-left: -590px;
}

li:nth-child(2) {
  margin-top: -110px;
  width: 60%;
}

li:nth-child(3) {
  margin-top: -110px;
}

li:nth-child(4) {
  margin-top: -110px;
  width: 70%;
}

.testimonialblock {
  background-image: url("../images/testimonial_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 360px;
}

.whitefont {
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  font-size: 140px;
  margin-top: 180px;
  text-align: center;
  line-height: 100px;
}

.signupnow {
  background-color: #033048;
  color: white;
  font-size: 100px;
  font-weight: 800;   
  height: 250px;
  width: 1200px;
  border-radius: 25px;
  margin-top: 100px;
  margin-left: 1900px;
}

.yellowbackground {
  background-color: #f9e42e;
  height: 480px;
}

a.get-it-now {
  color: black;
  text-decoration: none;
}

a.sign-up-now {
  color: white;
  text-decoration: none;
}

a:hover.get-it-now {
  color: white;
}

a:hover.sign-up-now {
  color: yellow;
}

footer {
  background-color: #121212;
 /* color: #f9e42e;
  font-size: 240px;
  font-weight: 800;*/
  font-family: 'Open Sans';
  text-align: center;
  height: 900px;
  padding-bottom: 700px;
}

footer p.p1 {
  padding-top: 200px;
  color: #f9e42e;
  font-size: 240px;
  font-weight: 800;
}

footer p.p2 {
  font-size: 70px;
  color: white; 
  font-weight: 600;
  padding-top: 450px;
}

footer img {
  height: 20%;
  margin-top: 230px;
}

